.containerList hr {
  margin-top: 20px;
  width: 200px;
}

.containerList h2 {
  /* margin-bottom: 0; */
}

.ListPokemon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 10px;
}
