.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 140px;
  height: 380px;
  border-radius: 6px;
  box-shadow: 0 0 4px lightgray;
  cursor: pointer;
  transition: transform 0.35s;
  scroll-snap-align: end;
}

.Card:hover {
  transform: scale(1.1);
}

.Card__image {
  width: 140px;
  height: 140px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.Card__text {
  padding: 10px;
  height: 40%;
}

.Card__text--title {
  margin: 2px 0;
}

.Card__text--desc {
  font-size: 0.8rem;
}

.Card__text--cat {
  display: inline;
  padding: 4px;
  border: 1px solid rgb(37, 37, 37);
  font-size: 0.6rem;
  font-weight: bold;
}

.Card__text--price {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}

.Card__cart-icon {
  position: absolute;
  border-radius: 8px;
  color: #ff4e00;
  cursor: pointer;
  display: flex;
  bottom: 10px;
  width: 20px;
  height: 20px;
  padding: 4px;
}

.Card__cart-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.106);
}
