.Footer {
  position: -ms-page;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.525);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer p,
.logo {
  padding: 20px;
  margin: 0;
}

.logo {
  cursor: pointer;
}
