@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Signika+Negative:wght@300&family=Sora:wght@100;300&display=swap");

body {
  background-color: #252525;
  color: whitesmoke;
  font-family: "Sora", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  border: 1px solid #e92525;
  border-radius: 0 0 5px 5px;
  height: 50px;
  width: 100%;
  /* padding: 0 10px; */
  color: #e92525;
  font-size: large;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 100px;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: #e92525;
  cursor: pointer;
  padding-right: 35px;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.movies,
.search-form,
.results {
  text-align: center;
  margin: 70px 10px 40px 10px;
}

.popular-movies,
.top-rated-movies,
.popular-tv,
.top-rated-tv,
.tv,
.film {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.movie {
  margin-bottom: 6px;
}

.movie img {
  width: 140px;
  height: 225px;
  border-radius: 12px;
  border: 1px solid #e92525;
  box-shadow: 0 0 7px #e92525;
  object-fit: cover;
}

*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e92525;
  border-radius: 8px;
  border: 1px ridge #252525;
}

/* SEARCH PAGE */
.search-form {
  display: flex;
  gap: 20px;
}

.search-input,
.btn-search {
  height: 20px;
  border-radius: 10px;
  border: none;
  padding: 0 10px;
}

.btn-search {
  cursor: pointer;
}

.btn-search:hover {
  font-weight: bold;
}

.title,
.results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 10px;
}
