body {
  margin: auto;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgb(249, 207, 170), rgb(214, 141, 89));
}
.hero {
  position: relative;
  text-align: center;
  height: 300px;
  width: 100vw;
}

.img_hero {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  margin: 0;
}

.title_hero {
  position: absolute;
  top: 50px;
  left: calc(50% - 225px);
  width: 450px;
  height: 500px;
  font-size: 3rem;
}

.description_hero {
  position: absolute;
  top: 180px;
  left: calc(50% - 165px);
  margin-top: 0;
  padding: 2px;
  /* border: 1px solid rgb(214, 141, 89); */
  background-color: bisque;
}

.products_list {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid bisque;
  border-radius: 6px;
  background: linear-gradient(rgb(214, 141, 89), rgba(249, 207, 170, 0.484));
}

.img_product {
  margin: 6px 4px;
  border-radius: 6px;
}

.description_product {
  padding: 0 10px;
}
