.CardPokemon {
  width: 300px;
  height: 350px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.422);
  border-radius: 10px;
  padding: 10px;
}
.imgPokemon {
  border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: scale-down;
}

hr {
  width: 100px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.538);
}

.description {
  border: 1px solid rgba(0, 0, 0, 0.218);
  border-radius: 10px;
  margin: 15px 0 8px 0;
  padding: 10px;
}

.name {
  margin-top: 10px;
  text-shadow: #fc0 1px 0 10px;
}

p {
  margin: 5px 0;
}
