.TodoItem {
  background-color: aliceblue;
  border: 1px solid rgb(172, 218, 247);
  box-shadow: inset 0 0 16px rgb(172, 218, 247);
  border-radius: 8px;
  color: #12566f;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
  padding: 15px 8px;
  width: 300px;
}

.TodoItem__btn-container {
  display: flex;
  justify-content: flex-end;
}

.TodoItem__btn {
  cursor: pointer;
  width: 2em;
  height: 1.2em;

  /* margin-bottom: 6px; */
}

.TodoItem__title,
.TodoItem__status {
  margin: 0;
}

.TodoItem__status {
  cursor: pointer;
}
