.TodoItem {
  border: 1px solid rgb(172, 218, 247);
  box-shadow: inset 0 0 16px rgb(172, 218, 247);
  border-radius: 8px;
  padding: 2px;
  height: 150px;
  width: 1005;
}

.TodoItem__status {
  cursor: pointer;
}
