.Gallery h2 {
  margin-bottom: 5px;
}

.carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Gallery img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.Gallery button {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.403);
  height: 20px;
  width: 20px;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0.403);
  background-color: yellow;
  cursor: pointer;
}

.Gallery button:hover {
  transform: scale(1.3);
}

.Gallery button:active {
  transform: scale(1);
}
