@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Signika+Negative:wght@300&family=Unbounded:wght@200;300&display=swap");

body {
  background: linear-gradient(90deg, rgb(190, 240, 253), rgb(113, 172, 213));
  font-family: "Signika Negative", sans-serif;
}

.todo-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border: 1px solid rgb(0, 128, 255);
  border-radius: 20px;
  margin: 5px 0;
  padding: 0 20px;
}

.check {
  border-radius: 20%;
  border: 1px solid rgb(0, 128, 255);
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
}

.completed {
  background-color: rgb(192, 246, 190);
  border: 1px solid rgb(130, 165, 129);
}

.uncompleted {
  background-color: red;
}
