@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tilt Neon", cursive;
  justify-content: center;
  gap: 20px;
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(18, 86, 111, 0.615) 46%,
    #87d2f5df 100%
  );
}
