.WelcomeDiv {
  box-shadow: 0 0 30px 5px black;
  margin: 20px;
  height: 350px;
}

.background {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
}

.welcome-title,
.description {
  position: absolute;
  text-align: center;
  margin: auto;
}

.welcome-title {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
