@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Signika+Negative:wght@300&family=Sora:wght@100;300&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252525;
  font-family: "Sora", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  padding-top: 30px;
  margin: 0;
  font-size: 1.3rem;
  color: whitesmoke;
}

.foto {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 6px 5px 4px rgba(18, 86, 111, 1);
  object-fit: cover;
}

.shape {
  position: absolute;
  border: 2px solid rgb(11, 55, 71);
  width: 300px;
  height: 450px;
  top: 10px;
  border-radius: 20px;
  background: radial-gradient(
    circle,
    rgba(117, 205, 247, 0.7589121602830433) 30%,
    rgba(18, 86, 111, 1) 100%
  );
  z-index: -1;
}

.switch {
  display: flex;
  justify-content: center;
  padding: 6px;
  border: 0.5px solid whitesmoke;
  box-shadow: 4px 5px 4px rgba(18, 86, 111, 1);
  gap: 9px;
  border-radius: 50px;
  background-color: rgba(18, 86, 111, 1);
}

.switch button {
  width: 5px;
  height: 12px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}
